{{!< default}}
{{> header}}

{{#post}}
<main class="main_minimal" role="main">
    <article class="article__wrapper" role="article">

        <header>
            <h1 class="post__title">{{title}}</h1>
            <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
        </header>

        <section class="post__content-wrapper">
            <div class="post__content">
                {{content}}
            </div>
        </section>

        {{#if tags}}
            <div class="post__tags">
                Tags: {{tags separator=" | "}}
            </div>
        {{/if}}
    </article>

    <nav class="post__footer" role="navigation">
        <div class="footer__wrapper">
            <div class="footer__wrapper-inner">
                <div class="footer__link-prev">
                {{#prev_post in="primary_tag"}}
                    <a class="footer__link-anchor" href="{{url}}" rel="prev">
                        <object class="footer__link-icon-left">
                            <embed src="{{asset "icons/arrow-left.svg"}}" />
                        </object>
                        <p class="footer__link-label">Previous</p>
                        <h3 class="footer__title-article">{{title}}</h3>
                    </a>
                {{/prev_post}}
                </div>
                {{#next_post in="primary_tag"}}
                <div class="footer__link-next">
                    <a class="footer__link-anchor" href="{{url}}" rel="next">
                        <object class="footer__link-icon-right">
                            <embed src="{{asset "icons/arrow-right.svg"}}" />
                        </object>
                        <p class="footer__link-label">Next</p>
                        <h3 class="footer__title-article">{{title}}</h3>
                    </a>
                </div>
                {{/next_post}}
            </div>
        </div>
    </nav>
</main>
{{/post}}

{{> footer}}